* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.register-vehicle-page {

    min-height: 100vh;

    background: #080808;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 30px;
}

/* Card */
.vehicle-card {

    width: 500px;

    background: #141414;

    padding: 40px;

    border-radius: 25px;

    border: 1px solid rgba(255, 255, 255, 0.06);

    box-shadow:
        0 0 30px rgba(0, 255, 136, 0.15);
}

/* Title */
.vehicle-card h1 {

    color: #00ff88;

    margin-bottom: 10px;

    font-size: 36px;
}

.vehicle-card p {

    color: #999;

    margin-bottom: 30px;
}

/* Form */
.vehicle-form {

    display: flex;
    flex-direction: column;

    gap: 20px;
}

/* Inputs */
.input-box {

    display: flex;
    align-items: center;

    background: #1d1d1d;

    border-radius: 14px;

    padding: 0 15px;

    border: 1px solid rgba(255, 255, 255, 0.08);
}

.input-icon {

    color: #00ff88;

    font-size: 18px;
}

.input-box input {

    width: 100%;

    height: 55px;

    background: none;

    border: none;

    outline: none;

    color: white;

    padding-left: 15px;
}

/* Upload */
.upload-box {

    height: 55px;

    border-radius: 14px;

    border: 2px dashed #00ff88;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 10px;

    color: #00ff88;

    cursor: pointer;

    transition: 0.3s;
}

.upload-box:hover {

    background: rgba(0, 255, 136, 0.08);
}

/* Preview */
.preview-image {

    width: 100%;

    height: 220px;

    object-fit: cover;

    border-radius: 18px;

    border: 2px solid #00ff88;
}

/* Button */
.save-button {

    height: 55px;

    border: none;

    border-radius: 14px;

    background: #00ff88;

    color: black;

    font-weight: bold;

    font-size: 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 10px;

    cursor: pointer;

    transition: 0.3s;
}

.save-button:hover {

    transform: translateY(-3px);

    box-shadow: 0 0 20px #00ff88;
}